# Build directories
/bin/
/target/
/build/

# Eclipse/STS project files
/.classpath
/.project
/.settings/
.apt_generated/
.factorypath
/.sts4-cache/
.metadata/
.springBeans

# System files
.DS_Store
Thumbs.db

# Log files
*.log

# IDE-specific files
.idea/
*.iml
*.iws

# Temporary files
*.tmp
*.bak
*.swp

# Maven files
.mvn/
!**/src/main/**/.keep

# Gradle files
.gradle/
build/

# OS-specific files
ehthumbs.db
Icon?

# Environment variables
.env

# SonarLint folder
.sonarlint/

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
